<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MED-REVIEW</title>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <link href="css/jquery-ui.css" rel="stylesheet" />
    <script src="js/popper.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.v4.min.js"></script>
    
    <style>
        svg {
            position: absolute;
            top: 3px;
            left: 3px;
        }

        .no-select-text {
            cursor: default;
            /* cursor shape not change*/
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently supported by Chrome and Opera */
        }

        .modal-backdrop {
            background: none;
        }
        .modal {
            overflow: hidden;
        }
        .modal-dialog {
            margin-right: 500;
            margin-left: 500;
        }
        .modal-body {
            position: relative;
            overflow-y: auto;
            max-height: 400px;
            padding: 15px;
            max-width: 750px;
        }
        
        fieldset{padding:.35em 0em .35em;margin:0 1px;border:1px solid silver}
        legend{border:0;width:auto}
    </style>
    <!--最好用向服务器请求的方式来传输socket.io.js 文件，否则得自己维护web前端和node服务器socket.io模块版本的一致-->
    <!-- <script src="js/socket.io.js"></script> -->
    <script src="socket.io/socket.io.js"></script>
    <script src="js/bytebuffer.js"></script>
    <script src="js/bcrypt.js"></script>
    <script src="js/long.js"></script>
    <script src="js/protobuf.js"></script>
</head>

<body onselectstart="return false">
    <div id="modal-preset-vrt-browser" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Preset VRT</h4>
                </div>
                <div class="modal-body">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">POSITION<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:;">Abdomen</a>
                            </li>
                            <li>
                                <a href="javascript:;">Cardio</a>
                            </li>
                            <li>
                                <a href="javascript:;">Lung</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <table id ="table-preset-vrt">
                            <tr>
                                <td style="padding: 3px; border: 1px solid #FFFFFF" id="ct_lung_glass">
                                    <img src="images/vrt_ct_lung_glass.jpeg">
                                </td>
                                <td style="padding: 3px; border: 1px solid #FFFFFF" id="ct_lung_bw">
                                    <img src="images/vrt_ct_lung_bw.jpeg">
                                </td>
                                <td style="padding: 3px; border: 1px solid #FFFFFF" id="ct_calcification">
                                    <img src="images/vrt_ct_calcification.jpeg">
                                </td>
                                <td style="padding: 3px; border: 1px solid #FFFFFF" id="ct_cta">
                                    <img src="images/vrt_ct_cta.jpeg">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 3px; border: 1px solid #FFFFFF" id="ct_clr_abd_aorta_1">
                                    <img src="images/vrt_ct_clr_abd_aorta_1.jpeg">
                                </td>
                                <td style="padding: 3px; border: 1px solid #FFFFFF" id="ct_clr_carotid_1">
                                    <img src="images/vrt_ct_clr_carotid_1.jpeg">
                                </td>
                                <td style="padding: 3px; border: 1px solid #FFFFFF" id="ct_clr_carotid_2">
                                    <img src="images/vrt_ct_clr_carotid_2.jpeg">
                                </td>
                                <td style="padding: 3px; border: 1px solid #FFFFFF" id="ct_carotids">
                                    <img src="images/vrt_ct_carotids.jpeg">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
        <div id="modal-loading-progress" class="modal fade">

        </div>
    <div>
        
    </div>
    <div class="container-fluid" id="worklist-div">
        <div style="display:none" hidden="true">
            <p id="username"><%=username%></p>
        </div>
        <div style="display:none" hidden="true">
            <p id="subpage"><%=subpage%></p>
        </div>
        <div clss="row">
            <div class="col-md-12 col-sm-12">
                <h3 class="text-primary">
                    DB Series List
                </h3>
                <button type = "button" class="btn btn-default pull-right" id="btn-pacs-0">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </button>
                <button type = "button" class="btn btn-default pull-right" id="btn-login-0">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                <br>
                <table class="table table-condensed table-hover" id="table">
                    <thead>
                        <tr>
                            <th>
                                Patient Name
                            </th>
                            <th>
                                Patient ID
                            </th>
                            <th>
                                Series ID
                            </th>
                            <th>
                                Modality
                            </th>
                        </tr>
                    </thead>
                    <tbody id="worklist">
                        <!-- <tr> <td> 1.1 </td> <td> 1.2 </td>  <td> 1.3 </td> </tr>
                        <tr> <td> 2.1 </td> <td> 2.2 </td>  <td> test_uid </td> </tr> -->
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <button type="button" class="btn btn-default" id="btn-search-worklist">
                            Qeury
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <button type="button" class="btn btn-default pull-right" id="btn-load-series">
                            Load
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="pacs-div" hidden="true">
        <div clss="row">
            <div class="col-md-12 col-sm-12">
                <h3 class="text-primary">
                    PACS Series List
                </h3>
                <button type = "button" class="btn btn-default pull-right" id="btn-pacs-1">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </button>
                <button type = "button" class="btn btn-default pull-right" id="btn-login-1">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                <br>
                <table class="table table-condensed table-hover" id="table-pacs">
                    <thead>
                        <tr>
                            <th>
                                Patient Name
                            </th>
                            <th>
                                Patient ID
                            </th>
                            <th>
                                Series ID
                            </th>
                            <th>
                                Modality
                            </th>
                        </tr>
                    </thead>
                    <tbody id="worklist-pacs">
                        <!-- <tr> <td> 1.1 </td> <td> 1.2 </td>  <td> 1.3 </td> </tr>
                        <tr> <td> 2.1 </td> <td> 2.2 </td>  <td> test_uid </td> </tr> -->
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <button type="button" class="btn btn-default" id="btn-retrieve-pacs">
                            Retrieve
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <button type="button" class="btn btn-default pull-right" id="btn-fetch-pacs">
                            Fetch
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" hidden="false" id="review-div">
        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 column" id="navigator-div" style=" Background-color:WhiteSmoke">
                <!-- <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header" id="navigator-div">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a class="navbar-brand" href="#">MED-REVIEW</a>
                    </div>
                </nav> -->
                <ul class="nav nav-tabs">
				<li class="active">
					 <a href="javascript:;">MED-REVIEW</a>
                </li>
                <button type = "button" class="btn btn-default pull-right" id="btn-login-2">
                <span class="glyphicon glyphicon-user"></span>
                </button>
			</ul>
            </div>
        </div>
                <div class="row clearfix">
                    <div class="col-md-2 col-sm-2 column">
                        <div class="row clearfix">
                            <fieldset>
                            <div class="col-md-12 col-sm-12 column">
                                <button type = "button" class="btn btn-default" id="btn-back-worklist">
                                <span class="glyphicon glyphicon-retweet"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btn-layout1x1">
                                <span class="glyphicon glyphicon-stop"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btn-layout2x2">
                                <span class="glyphicon glyphicon-th-large"></span>
                                </button>
                            </div>
                            </fieldset>
                        </div>
                        <br>
                        <div class="row clearfix">
                            <fieldset>
                            <div class="col-md-12 col-sm-12 column">
                                <button type="button" class="btn btn-default" id="btn-vrt-browser" data-toggle="modal" data-target="#modal-preset-vrt-browser">VRT</button>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="btn-preset-wl">WL<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" id="a-preset-wl-abdomen">Abdomen</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="a-preset-wl-lung">Lung</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="a-preset-wl-brain">Brain</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="a-preset-wl-angio">Angio</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="a-preset-wl-bone">Bone</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="a-preset-wl-chest">Chest</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </fieldset>
                        </div>
                        <br>
                        <div class="row clearfix">
                            <fieldset>
                            <div class="col-md-12 col-sm-12 column">
                                <div class="row clearfix pre-scrollable">
                                    <table class="table table-condensed table-hover table-bordered" id="annotation-table">
                                    <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Diameter</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody id="annotation-list">
                                    </tbody>
                                    </table>
                                </div>
                                <input type="checkbox" id="cbox-overlay-annotation">Opacity
                                <button class="btn btn-default pull-right" type="button" id="btn-delete-annotation"><span class="glyphicon glyphicon-trash"></span></button>
                                <input type="range" id="range-mpr-overlay-opacity">
                            </div>
                            </fieldset>
                        </div>
                        <br>
                        <div class="row clearfix">
                            <fieldset>
                            <div class="col-md-12 col-sm-12 column">
                                <input type="checkbox" id="cbox-crosshair-continuous">Cross Continuous<br>
                                <input type="checkbox" id="cbox-crosshair-visible">Cross Visible<br>
                            </div>
                            </fieldset>
                        </div>
                        <br>
                        <div class="row clearfix">
                            <fieldset>
                            <div class="col-md-12 col-sm-12 column">
                                <div class="btn-group" id="common-tools">
                                    <button class="btn btn-default" type="button" id="common-tool-arrow"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                    <button class="btn btn-default" type="button" id="common-tool-zoom"><span class="glyphicon glyphicon-zoom-in"></span></button>
                                    <button class="btn btn-default" type="button" id="common-tool-rotate"><span class="glyphicon glyphicon-refresh"></span></button>
                                    <button class="btn btn-default" type="button" id="common-tool-pan"><span class="glyphicon glyphicon-move"></span></button>
                                    <button class="btn btn-default" type="button" id="common-tool-windowing"><span class="glyphicon glyphicon-adjust"></span></button>
                                    <button class="btn btn-default" type="button" id="common-tool-annotation"><span class="glyphicon glyphicon-tag"></span></button>
                                </div>
                            </div>
                            </fieldset>
                        </div>
                        <br>
                        <div class="row clearfix">
                            <fieldset>
                                <div class="col-md-12 col-sm-12 column">
                                    <button class="btn btn-default" type="button" id="btn-test-0"><span class="glyphicon glyphicon-random"></span></button>
                                    <button class="btn btn-default" type="button" id="btn-test-1"><span class="glyphicon glyphicon-random"></span></button>
                                </div>
                            </fieldset>
                        </div>
                        <!-- <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 column">
                                <button class="btn btn-play-vr" type="button" id="btn-play-vr"><em class="glyphicon glyphicon-align-left"></em>PlayVR</button>
                            </div>
                        </div> -->
                        <p id="test-info" hidden="true">
                        </p>

                    </div>
                    <div class="col-md-10 col-sm-10 column" id="cell-container">
                        <!-- style="border: 0px solid black;" -->
                        <div class="col-md-6 col-sm-6 column" id="cell02-container" style="padding: 0; margin: 0;">
                            <div class="row clearfix" id="cell0-container" style="padding: 0; margin: 0; position: relative;">
                                <canvas id="canvas0" style="border: 3px solid #F5F5F5"></canvas>
                                <svg id="svg0"> </svg>
                            </div>
                            <div class="row clearfix" id="cell2-container" style="padding: 0; margin: 0; position: relative;">
                                <canvas id="canvas2" style="border: 3px solid #F5F5F5"></canvas>
                                <svg id="svg2"> </svg>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 column" id="cell13-container" style="padding: 0; margin: 0;">
                            <div class="row clearfix" id="cell1-container" style="padding: 0; margin: 0; position: relative;">
                                <canvas id="canvas1" style="border: 3px solid #F5F5F5"></canvas>
                                <svg id="svg1"> </svg>
                            </div>
                            <div class="row clearfix" id="cell3-container" style="padding: 0; margin: 0; position: relative;">
                                <canvas id="canvas3" style="border: 3px solid #F5F5F5"></canvas>
                                <svg id="svg3"> </svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <!-- </div>
    </div> -->
</body>

<script src="js/mi-define.js"></script>
<script src="js/mi-socket-client.js"></script>
<script src="js/mi-action.js"></script>
<script src="js/mi-roi.js"></script>
<script src="js/mi-crosshair.js"></script>
<script src="js/mi-vertical-ruler.js"></script>
<script src="js/mi-cell.js"></script>
<script src="js/mi-main.js"></script>
</html>