<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Web Medical Viewer</title>
    <script src = "js/function.js"></script>
    <script>
    function signInFunc(){
            document.getElementById("demo").innerHTML=Date();
        }
    </script>
</head>
<body>
    <img src="images/header.png" alt="medical picture">
    <h1>WEB MEDICAL VIEWER</h1>
    <p id="demo">time</p>
    <a href="https://www.baidu.com/">This is web medical viewer from BAIDU wangrui22</a>
    <br>
    <div>    
    </div>
    <br>
    
    <form>
        Usename or email address:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name"password"><br>
    </form>
    <button type="submit" onclick="signInFunc()">Sign in</button>

</body>


</html>
