<!DOCTYPE html>
<html>
  
<head>
    <title><%= title %></title>
    <style type="text/css">
        a {
            margin-left: 20px;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <img src="/images/header.png" alt="medical picture">
    <h1>Welcome to<%= title %>
    </h1>
    <p>
      <a id="a-login" href="/login"> 登录 </a>
      <a id="a-register" href="/register"> 注册</a>
    </p>
</body>
</html>
